.temp-header-users-menu-content__logout-form {
    display: none;
}

.user-info {
    margin-bottom: 10px;
}

.user-info-avatar {
    margin-bottom: 10px;
}

.user-info-avatar__image {
    width: 200px;
}

.user-block-library__area {
    margin-top: 10px;
}

.book-cover {
    margin-bottom: 10px;
}

.book-cover__image {
    width: 200px;
}

.book-reader-block {
    max-width: 600px;
}

.book-reader-pagination {
    text-align: center;
}


/*book-reader*/
.book-reader-block-content p {
    min-height: 700px;
    text-align: justify;
}

#dots-1, #dots-2 {
    padding: 6px 8px;
    border-color: white;
}

.user-block-books__element_status_close {
    color: #8c8c8c;
}

.books-list-cover__img {
    width: 150px;
}