.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-button {
  display: block;
  width: 80%;
  height: 30px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #636b6f;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
}
.landing-button:hover {
  border-color: #8c8c8c;
  background-color: #e6e5e5;
  color: #636b6f;
}
.landing-button:active {
  border-color: #adadad;
  background-color: #e6e5e5;
  color: #636b6f;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  box-sizing: border-box;
}
@media screen and (max-width: 991px) {
  .landing-content__title {
    font-size: 8vw;
  }
}
@media screen and (max-width: 910px) {
  .landing-content {
    margin-top: 100px;
  }
}
@media screen and (max-width: 700px) {
  .landing-content__title {
    font-size: 12vw;
  }
}
.landing-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}
.landing-books {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 20px 20px;
  padding: 0 2px;
  box-sizing: border-box;
  border-top: 1px solid #d3e0e9;
  border-bottom: 1px solid #d3e0e9;
  background: #ffffff;
}
.landing-books__area {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
  box-sizing: border-box;
}
.landing-books__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #d3e0e9;
}
.landing-books-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 910px) {
  .landing-books__title {
    height: 30px;
  }
}
.landing-book {
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  min-height: 200px;
}
.landing-book-cover {
  display: block;
  margin-bottom: 20px;
}
.landing-book-cover__image {
  width: 100px;
}
.landing-book__title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
  text-align: center;
}
.landing-book__read {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
}
@media screen and (max-width: 991px) {
  .landing-book__title {
    font-size: 14px;
  }
}
@media screen and (max-width: 910px) {
  .landing-book {
    flex-basis: 30%;
    margin: 8px;
  }
  .landing-book-cover {
    margin-bottom: 5px;
  }
  .landing-book-cover__image {
    width: 150px;
  }
}
@media screen and (max-width: 450px) {
  .landing-book {
    flex-basis: 80%;
  }
  .landing-book-cover__image {
    width: 200px;
  }
}
.landing-books-more {
  display: block;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
}
.landing-books-more__button {
  width: 100%;
  background: cornflowerblue;
  color: white;
}
@media screen and (max-width: 910px) {
  .landing-books-more {
    margin-top: 5px;
  }
}
