body {
    display: flex;
    justify-content: center;
}

.auth-box {
	width: 240px;
    height: 280px;
    border-radius: 5px;
    background-color: #e5d3c1;
    border: solid 0.5px #231f20;
}

.auth-form {

}

.auth-form-sn {

}

.social-button {
    width: 22px;
    height: 22px;

    background-color: #0d6aad;
}