@font-face {
    font-family: 'Kurale';
    src: url('/fonts/kurale-regular/Kurale-Regular.eot');
    src: url('/fonts/kurale-regular/Kurale-Regular.eot') format('embedded-opentype'),
    url('/fonts/kurale-regular/Kurale-Regular.woff2') format('woff2'),
    url('/fonts/kurale-regular/Kurale-Regular.woff') format('woff'),
    url('/fonts/kurale-regular/Kurale-Regular.ttf') format('truetype'),
    url('/fonts/kurale-regular/Kurale-Regular.svg#Kurale-Regular') format('svg');
}

@font-face {
    font-family: 'MyriadPro';
    src: url('/fonts/myriadpro-regular/MyriadPro-Regular.eot');
    src: url('/fonts/myriadpro-regular/MyriadPro-Regular.eot') format('embedded-opentype'),
    url('/fonts/myriadpro-regular/MyriadPro-Regular.woff2') format('woff2'),
    url('/fonts/myriadpro-regular/MyriadPro-Regular.woff') format('woff'),
    url('/fonts/myriadpro-regular/MyriadPro-Regular.ttf') format('truetype'),
    url('/fonts/myriadpro-regular/MyriadPro-Regular.svg#MyriadPro-Regular.svg') format('svg');
}

body {
    display: flex;
    justify-content: center;
    font-family: "MyriadPro", serif;
    background-color: #544e4b;       //*Временно*//
}

.auth-box {
    width: 836px;
    border-radius: 10px;
    background-color: #e5d3c1;
    border: solid 1px #231f20;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;       //*Временно*//
}

.auth-box > h2 {
    margin: 8px 0 -5px 0;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.25;
    font-family: "Kurale", serif;
    color: #513b25;
    padding-left: 3px;
    padding-right: 3px;
}

.auth-box > hr {
    background-color: #513b25;
    color: #513b25;
    width: 192px;
    margin: 0;
    padding: 0;
    border: none;
    height: 2px;
}

.auth-social {
    width: 804px;
    background-color: #f9eade;
    margin-top: 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
}

.auth-social > h3 {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.73;
    color: #513b25;
    margin: 17px 0 15px 0;
    align-self: center;
}

.auth-social > div {
    display: flex;
    justify-content: space-between;
    margin: 0 41px 16px 41px;
    width: 316px;
    align-self: center;
}

.vk-link,
.fb-link,
.tw-link,
.gg-link,
.ok-link {
    width: 44px;
    height: 44px;
}

.vk-link {
    background-color: #46587d;
    transition: .2s ease-out;
}
.vk-link:hover {
    background-color: #5873a3;
}
.fb-link {
    background-color: #444d8b;
    transition: .2s ease-out;
}
.fb-link:hover {
    background-color: #606fb7;
}
.tw-link {
    background-color: #409dd1;
    transition: .2s ease-out;
}
.tw-link:hover {
    background-color: #65aedc;
}
.gg-link {
    background-color: #c33920;
    transition: .2s ease-out;
}
.gg-link:hover {
    background-color: #dd3e0f;
}
.ok-link {
    background-color: #f39336;
    transition: .2s ease-out;
}
.ok-link:hover {
    background-color: #f2ae53;
}

.text-or {
    margin: 13px 0 12px 0;
    font-size: 22px;
    color: #513b25;
}

.auth-email {
    width: 804px;
    background-color: #f9eade;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-email > h3 {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.73;
    color: #513b25;
    margin: 5px 0 19px 0;
}

.auth-email > form {
    margin: 0 0 37px 0;
    padding: 0;
    display: flex;
    width: 768px;
    justify-content: space-between;
}

input[name="name"] {
    margin: 0;
    height: 46px;
    width: 586px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #c8b8a9;
    font-size: 21px;
    padding-left: 20px;
    color: #513b25;
    transition: .3s ease-out;
}

input[name="name"]:focus {
    transition: .3s ease-out;
    outline-offset: 0;
    outline: 0;
    border: 1px solid #513b25; /* Рамка при получении фокуса */
}

.auth-email > form > button {
    width: 148px;
    height: 48px;
}

.auth-registration {
    width: 804px;
    background-color: #f9eade;
    margin: 0 0 26px 0;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-registration > h3 {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.73;
    color: #513b25;
    margin: 5px 0 19px 0;
}

.auth-registration > button {
    width: 214px;
    height: 46px;
    margin: 0 0 25px 0;
}


.btn {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    background-color: #2fd1b2;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition: .3s ease-out;
}

.btn:hover {
    background-color: #5dd8c0;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.btn:focus {
    outline: 0;
}

.err-input {
    border: 1px solid #ff2727 !important;
}

.err-text {
    color: #ff2727 !important;
}

::-webkit-input-placeholder {color:#e0e0e1;}
::-moz-placeholder          {color:#e0e0e1;}/* Firefox 19+ */
:-moz-placeholder           {color:#e0e0e1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#e0e0e1;}

